.perfilContainer{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  .perfil {
    box-shadow: 14px 15px 35px -6px #c19158;
    border-radius: 25% 0% 10% 25% / 63% 25% 25% 0%;
    padding: 1rem;
  }
  
  .imgPerfil {
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: 3px solid #303F9F
  }
  
  .postUser {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  
  .postPerfil {
    -webkit-box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.4); 
    box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.4);
    border-radius: 8px;
    padding: 0 1rem 1.5rem;
  }

  .perfil .css-149xwtl-MuiTypography-root{
    font-family: cursive !important;
  }

  /* .perfilContainer{
    display: flex !important;
    justify-content: center !important;
    margin-top: 1rem !important;
    gap: 1rem !important;
  }
  
  .perfilusuario {
    border-radius: 25% 6% 25% 67% / 39% 38% 62% 25%;
    padding: 1rem !important;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 1);
  }
  
  .imgPerfil {
    border-radius: 25% 6% 25% 67% / 39% 38% 62% 25%;
    width: 80% !important;
    border-radius: 50% !important;
    margin: 0 auto !important;
    display: block !important;
    border: 3px solid black !important;
    height: 60%;
    margin-top: 2rem !important;
    align-items: center !important;
  }
  
  .postUser {
    display: flex !important;
    gap: 1rem !important;
    padding-left: 1rem !important;
    margin-top: 1rem !important;
  }
  
  .postPerfil {
    -webkit-box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.4) !important; 
    box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.4) !important;
    border-radius: 8px !important;
    padding: 0 1rem 1.5rem !important;
  }
  
  .txt {
    font-weight: lighter;
    font-size: 12px;
    text-decoration: underline;
  }
   */