.text-decorator-none {
    text-decoration: none;
}


.imagemLogo {
    background-image: url(https://i.imgur.com/IV47v8s.png);
    background-repeat: no-repeat;

    min-height: 80vh;
    background-size: cover;
    background-position: center;
    width: 90vh;
    height: 347px;
    left: 376px;
    top: 242px;
}

.fundo {
    height: 100vh;
    background: #C29159;

}

.fundo2 {
    align-items: center;
    background: #D9AD59;
    border-radius: 36px;
    padding: 10%;
}

.cadastro {
    color: rgb(255, 255, 255);
}


.btn {
    margin-right: 20px !important;
    color: white !important;
    border-color: white !important;
}


/* .MuiOutlinedInput-notchedOutline {
    border-color: rgb(255, 255, 255) !important;

}

.MuiInputBase-input, .MuiFormLabel-root {
    color: white !important;
    }

.css-i4bv87-MuiSvgIcon-root{
   color: white;
} /

/ .label {
    color: white !important;
} */

.fundo2  .MuiOutlinedInput-notchedOutline{
    border-color: rgb(255, 255, 255) !important;
}

.fundo2 .MuiInputBase-input, .fundo2 .MuiFormLabel-root {
    color: white !important;
    }



.fundo2 .css-i4bv87-MuiSvgIcon-root {
    color: white;
}

 .MuiButton-containedPrimary {
    color: white !important;
    background-color: transparent !important;
}

.MuiButton-contained{
    color: rgba(255, 240,   240, 0.87);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #e0e0e0;
    border-color: white;
    border-style: solid;

}

.MuiButton-label {
background: unset;
}

@media (max-width: 800px)
{
  .imagemLogo
   {
    display: none;
   }
}